#login-panel {
	width: 430px;
	margin: 100px auto;
}

.label-with label {
	width: 50px;
}

.label-with .input-row .flex-cell {
	margin-left: 60px;
}

.button-container {
	margin-top: 30px;
	position: relative;
}

#btn-login {
	margin-left: 60px;
	width: 200px;
}

#addition-links {
	position: absolute;
	right: 0;
	top: 12px;
}

#addition-links > * {
	color: #d29956;
	font-size: 16px;
	margin-left: 10px;
}
