/* Begin Reset CSS, from YUI 2 */
*, *:active, *:hover, *:focus, *:visited {
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ul,li,dl,dt,dd,ol {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
}
/* End Reset CSS, from YUI 2 */


/* Begin Global CSS */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}

.vertical-middle {
	display: table;
	width: 100%;
}

.vertical-middle > div {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.text-justify {
	text-align: justify;
	text-justify: distribute-all-lines;
	text-align-last: justify;
	-moz-text-align-last: justify;
	-webkit-text-align-last: justify;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.text-justify:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0;
		overflow: hidden;
	}
}

.line-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.block-ellipsis {
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.block-ellipsis.line-2 {
	-webkit-line-clamp: 2;
}
.block-ellipsis.line-3 {
	-webkit-line-clamp: 3;
}
.block-ellipsis.line-4 {
	-webkit-line-clamp: 4;
}
.block-ellipsis.line-5 {
	-webkit-line-clamp: 5;
}
.block-ellipsis.line-6 {
	-webkit-line-clamp: 6;
}
.block-ellipsis.line-7 {
	-webkit-line-clamp: 7;
}

html {
	overflow-y: scroll;
}

body {
	background-color: #fff;
}

a,
a:link,
a:visited,
a:focus {
	-webkit-touch-callout: none;
	text-decoration: none;
}

html,
input,
select,
textarea,
button,
label {
	font-size: 16px;
	font-family: '微软雅黑',"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	color: #333;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select {
	box-sizing: border-box;
	border: 1px solid #c3c2c2;
	border-radius: 4px;
	background: #fff;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
	-webkit-appearance: none;
	padding: 8px;
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
	height: 36px;
}

select {
	padding-left: 8px;
}

textarea {
	resize: none;
}

html .button {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	font-size: 20px;
	height: 46px;
	line-height: 46px;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	color: #fff;
	background: #d29956;
}

*[disabled] {
	color: #a9a9a9!important;
	background: #ddd!important;
}

/* End Global CSS */

/* Begin Header */
#app-page {
	min-width: 1300px;
}

#page-header {
	background: #000;
}

#page-header-inner {
	position: relative;
	z-index: 1;
	width: 1280px;
	margin: 0 auto;
	background: url(../img/header-logo.png) no-repeat 4px center;
}

#header-nav-container {
	margin-left: 124px;
	font-size: 0;
	width: 900px;
}

.header-nav-item {
	position: relative;
	display: inline-block;
}

.header-nav-item:hover {
	background: #d29956;
}

.header-nav-item > a {
	display: block;
	height: 72px;
	line-height: 72px;
	padding: 0 10px;
	font-size: 16px;
	color: #d29956;
}

.header-nav-item:hover a {
	color: #fff;
}

.header-nav-menu {
	position: absolute;
	display: none;
}

.header-nav-menu .nav-item2 {
	background: #d29956;
	position: relative;
}

.header-nav-menu2 {
	opacity: 0.95;
	position: absolute;
    top: 0;
    background: #d29956;
    display: none;
}

.nav-icon {
	position: absolute;
	z-index: 2;
	right:-20px;
	font-size: 16px !important;
}

.header-nav-item:hover .header-nav-menu {
	display: block;
}

.header-nav-menu a {
	display: block;
	color: #fff;
	padding: 0 30px 0 10px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
    white-space: nowrap;	
}

.header-nav-menu a:hover {
	color: #000;
}

#header-right-container {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
}

#header-search-container {
	position: absolute;
	width: 160px;
	top: 12px;
	right: 0;
	height: 24px;
	border-radius: 12px;
	background: #fff url(../img/header-search-icon.png) no-repeat 3px center;
}

#header-search {
	position: absolute;
	left: 25px;
	top: 2px;
	height: 20px;
	width: 125px;
	padding: 0;
	border: 0;
	font-size: 12px;
}

#header-user-container {
	position: relative;
	margin-top: 48px;
	font-size: 13px;
	height: 15px;
	text-align: right;
}

#header-user-container > div {
	display: inline-block;
	color: #fff;
}

#header-user-container > div > a {
	color: #fff;
}

#header-user-container > a {
	margin-left: 10px;
	display: inline-block;
	color: #b7b7b7;
}

#header-user-container > a[href="javascript:;"] {
	cursor: default;
}

#sub-nav,
#sec-nav {
	background: #b5b5b5;
}

#sub-nav-inner {
	margin: 0 auto;
	padding-left: 124px;
	width: 1156px;
	max-height: 36px;
	line-height: 36px;
}

#sub-nav-inner a {
	display: inline-block;
	padding: 0 20px;
	font-size: 16px;
	height: 33px;
	color: #fff;
	border-bottom: 3px solid transparent;
}

#sub-nav-inner a.active {
	border-color: #d29956;
}

#sec-nav-inner {
	position: relative;
	margin: 0 auto;
	width: 1280px;
/* 	height: 36px; */
	line-height: 36px;
}

#sec-nav-inner span {
	font-size: 16px;
	color: #fff;
}

#sec-nav-inner div {
	text-align: right;
	height: 100%;
}

#sec-nav-inner a {
	font-size: 16px;
	color: #fff;
	margin-left: 25px;
}
/* End Header */

/* Begin Footer */
#page-footer {
	margin-top: 40px;
	background: #000;
}

#page-footer-inner {
	position: relative;
	margin: 0 auto;
	width: 1280px;
	height: 154px;
	padding-top: 25px;
	background: url(../img/footer-qrcode.png) no-repeat right center;
}

#footer-slogon {
	color: #fff;
	font-size: 18px;
	font-family: 'KaiTi';
}

#footer-links {
	margin-top: 30px;
	color: #d29956;
	font-size: 13px;
	line-height: 1.8em;
}

#footer-links a {
	color: #d29956;
	margin: 0 5px;
}

#footer-links a.lead {
	margin-left: 0;
}

#footer-copyright {
	margin-top: 20px;
	color: #b7b7b7;
	font-size: 12px;
}

#footer-certify {
	padding: 10px 0 20px 0;
	text-align: center;
}

#footer-certify > div {
	margin-left: 50px;
	display: inline-block;
	vertical-align: middle;
	width: 122px;
	height: 66px;
	background-repeat: no-repeat;
}

#footer-certify > div:first-child {
	margin-left: 0;
}

#iapp-certify {
	background-image: url(../img/iapp-icon.jpg);
}

#sec-certify {
	background-image: url(../img/sec-icon.jpg);
}

#footer-certify #kexin-certify {
	height: 50px;
	width: 127px;
}
/*  End Footer  */

/* Begin Page Common Style */
#page-content {
}

#page-content-inner {
}
/* End Page Common Style */

/* begin common layout style */
.wrapper {
	position: relative;
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.panel {
	margin: 0 auto;
}

.panel.border {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
}

.panel-title {
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 24px;
}

.pre-format {
	line-height: 1.4em;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}
/* end common layout style */

/* begin xform layout style */
.msg-container {
	position: fixed;
	width: 100%;
	top: 40px;
	left: 0;
	text-align: center;
}

.msg-text {
	display: inline-block;
	line-height: 1.4em;
	padding: 10px 20px;
	border-radius: 5px;
	background: #666;
	color: #fff;
}

.msg-container.error .msg-text {
	background: #efe6e6;
	color: #f00;
}

.input-bundle {
	position: relative;
	margin-top: 15px;
}

.input-bundle:first-child {
	margin-top: 0;
}

.input-bundle .input-error {
	display: none;
	margin-bottom: 10px;
	color: #f00;
}

.input-bundle.error .input-error {
	display: block;
}

.input-row {
	position: relative;
}

.input-row > label {
	position: absolute;
	padding: 10px 0;
	height: 1em;
	line-height: 1.2em;
	overflow: hidden;
	display: block;
	text-align: justify;
	text-justify: distribute-all-lines;
	text-align-last: justify;
	-moz-text-align-last: justify;
	-webkit-text-align-last: justify;
}

.input-row > label.not-empty {
	left: -10px;
	padding-left: 10px;
}

.input-row > label.not-empty:before {
	position: absolute;
	top: 12px;
	left: 0;
	color: #d29956;
	content: "*";
}

.vertical .input-error + .input-row {
	padding-top: 20px;
}

.vertical .input-row > label {
	top: 0;
	left: 0;
	padding: 0;
	height: 1.2em;
}

.label-in-cell .flex-cell label {
	vertical-align: middle;
}

.label-in-cell .flex-cell input {
	vertical-align: middle;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.input-row > label:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0;
		overflow: hidden;
	}
}

.flex-cell {
	font-size: 0;
}

.flex-cell > input[type="text"],
.flex-cell > input[type="password"],
.flex-cell > input[type="number"],
.flex-cell > textarea,
.flex-cell > select,
.flex-cell > a {
	width: 100%;
	display: block;
}

.xform input[type=submit] {
	position: absolute;
	left: -10000px;
	top: -10000px;
}

.input-cell > * {
	vertical-align: middle;
}

.input-cell > label {
	margin-left: 5px;
}

.cell-2 {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
}

.cell-2:first-child {
	padding-left: 0!important;
}

.cell-2:last-child {
	padding-right: 0!important;
}
/* end form layout style */

/* begin button style */
.button-container {
	margin-top: 20px;
	font-size: 0;
}

.button-container .cell-2 {
	padding: 0 10px;
}

.inline-center {
	text-align: center;
}

.bc-margin {
	margin-top: 15px;
}
/* end button style */

/* begin general banner */
.banner-width-container {
	position: relative;
	display: block;
	font-size: 0;
	width: 100%;
	overflow: hidden;
}

.banner-width-container img {
	position: relative;
	left: 50%;
	width: 1920px;
	margin-left: -960px;
}
/* end general banner */

/* begin slides container */
.sildes-container {
	position: relative;
}

.slides-viewport {
	width: 100%;
    max-width: 1920px;
    margin: 0 auto;
	overflow: hidden;
}

.slides-viewport.banner {
	background: #ccc;
}

.slides-pages {
	font-size: 0;
	white-space: nowrap;
}

.slides-pages .slide-page {
	display: inline-block;
	vertical-align: middle;
}

.sildes-container.box {
	margin: 10px auto;
}

.box .slides-viewport {
	width: 1240px;
	margin: 0 auto;
}

.box .slide-page {
	width: 290px;
	max-height: 350px;
	margin: 0 10px;
	font-size: 18px;
}

.box .slide-page > img {
	display: block;
	width: 100%;
	height: 200px;
}

.box .slide-page > div {
	text-align: center;
	display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	padding-top: 10px;
	font-size: 18px;
	max-height: 78px;
	color: #313131;
	white-space: normal;
	line-height: 1.5em;
}

.sildes-container.txt-cover-box {
	position: relative;
	margin: 10px auto;
}

.txt-cover-box .slides-viewport {
	width: 1250px;
	margin: 0 auto;
}

.txt-cover-box .slide-page {
	position: relative;
	width: 230px;
	height: 180px;
	margin: 0 5px;
}

.txt-cover-box .slide-page > img {
	display: block;
	width: 100%;
	height: 100%;
}

.txt-cover-box .slide-page > div {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 16px;
	color: #000;
	background: #ccc;
	background: rgba(255, 255, 255, .8);
	overflow: hidden;
}

.slides-bullets {
	margin: 10px auto;
	height: 5px;
	font-size: 0;
	text-align: center;
}

.slide-bullet {
	height: 100%;
	width: 150px;
	background: #b7b7b7;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}

.slide-bullet.active {
	background: #d29956;
}

.slides-bullets.circle {
	position: absolute;
	bottom: 30px;
	width: 100%;
	height: 16px;
	margin: 0;
}

.circle .slide-bullet {
	margin: 0 6px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #fff;
	background: transparent;
}

.circle .slide-bullet.active {
	border-color: #d29956;
	background: #d29956;
}

.slide-move {
	position: absolute;
	top: 0;
	width: 20px;
	height: 100%;
}

.slide-move-left {
	left: 0;
}

.slide-move-right {
	right: 0;
}

.slide-move:before {
	position: absolute;
	content: "";
	top: 160px;
	left: 5px;
	width: 9px;
	height: 29px;
	background: url(../img/slide-move-icons.png) no-repeat;
}

.slide-move-left:before {
	background-position: 0 0;
}

.slide-move-right:before {
	background-position: 0 -29px;
}
/* end slides container */


/* begin text container style */
.text-container-wrapper {
	padding: 50px 0;
	max-width: 1920px;
	margin: 0 auto;
}

.text-container {
	line-height: 1.5em;
}

.text-container p {
	margin: 10px 0;
}
/* end text container style */


/* begin left column style */
.c2-wrap .left-column {
	position: absolute;
}
/* end left column style */


/* begin layout box style */
.inline-container {
	font-size: 0;
} 

.inline-container > * {
	display: inline-block;
	font-size: 16px;
}
/* end layout box style */

/* begin column container */
.column-container {
	margin: 30px auto;
	width: 1270px;
}

.column-item {
	position: relative;
	margin: 10px;
	width: 613px;
	height: 198px;
	border: 1px solid #e9e9e9;
	background: #f5f5f5;
}

.column-item-pic {
	position: absolute;
	display: block;
	top: 20px;
	left: 15px;
	width: 200px;
	height: 160px;
}

.column-item-pic img {
	width: 100%;
	height: 100%;
}

.column-item-title {
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	top: 20px;
	left: 230px;
	right: 15px;
	height: 24px;
	color: #333;
}

.column-item-text {
	position: absolute;
	font-size: 14px;
	line-height: 1.5em;
	top: 50px;
	left: 230px;
	right: 15px;
	bottom: 20px;
}

.btn-column-more {
	display: block;
	width: 500px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 30px auto;
	color: #fff;
	background: #b7b7b7;
	font-size: 16px;
}
/* end column container */

/* begin hash holder container */
.hash-holder {
	font-size: 18px;
	color: #333;
	margin-top: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 10px;
}
/* end hash holder container */

/* begin video container */
.video-container {
	text-align: center;
	height: 600px;
	padding: 50px 0;
	background: no-repeat center;
}
/* end video container */
