<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhisland.main.apps.guanwang.dao.mybatis.UserVisitDetailMapper">
	<resultMap id="BaseResultMap" type="UserVisitDetail">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="object_type" property="objectType" jdbcType="VARCHAR" />
		<result column="object_id" property="objectId" jdbcType="BIGINT" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="visit_time" property="time" jdbcType="BIGINT" />
		<result column="count" property="count" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		Id,user_id,object_type,object_id,ip,visit_time
	</sql>
	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

	<select id="getOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_visit_detail
		where id=#{id,jdbcType=BIGINT}
	</select>
	
	<insert id="save" >
		insert into user_visit_detail
		(<include refid="Base_Column_List" />)
		 values (#{id,jdbcType=BIGINT}, 
		#{userId,jdbcType=BIGINT},
		#{objectType,jdbcType=VARCHAR}, 
      	#{objectId,jdbcType=BIGINT},
     	#{ip,jdbcType=VARCHAR},
      	#{time,jdbcType=BIGINT})
	</insert>
	
	<select id="getByUserIdAndObjectId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_visit_detail
		where user_id = #{userId,jdbcType=BIGINT}
		and object_type=#{objectType,jdbcType=VARCHAR}
		and object_id=#{objectId,jdbcType=BIGINT}
		limit #{start},#{count}
	</select>
	
	<select id="stat" resultMap="BaseResultMap">
		select object_type objectType,object_id objectId,count(*) count
		from user_visit_detail
		where 
		object_type=#{objectType,jdbcType=VARCHAR}
		and visit_time between #{begin,jdbcType=BIGINT} and #{end,jdbcType=BIGINT}
		group by object_type,object_id
		order by count(*) desc
		limit #{start},#{count}
	</select>
	
	<select id="count" resultMap="BaseResultMap">
		select object_type objectType,object_id objectId,count(*) count
		from user_visit_detail
		where 
		object_type=#{objectType,jdbcType=VARCHAR}
		and object_id=#{objectId,jdbcType=BIGINT}
		and visit_time between #{begin,jdbcType=BIGINT} and #{end,jdbcType=BIGINT}
		group by object_type,object_id
	</select>

</mapper>