<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhisland.main.apps.guanwang.dao.mybatis.UserPreRegisterMapper" >
  <sql id="Base_Column_List" >
    user_id,user_name,user_psw,sex,birthday,credential,credential_numb,religion,position,social_status,tel,email,company,trade_type,staff_numb,profit,comp_address,assistant_name,assistant_position,assistant_tel,assistant_email,introducer_name,introducer_company,introducer_position,introducer_tel,guest,shareTopic,activities,message_from,is_active,creation_date,pass_time,member_code,introducer_email,client_ip,client_area,http_referer,recommend_user_name,recomm_uid
  </sql>
  <select id="get"  parameterType="long" resultType="UserPreRegister"  >
    select 
    <include refid="Base_Column_List" />
    from ts_user_pre_register
    where user_id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" >
    insert into  ts_user_pre_register 
	    (<include refid="Base_Column_List" />)
	   	values(#{user_id},#{user_name},#{user_psw},#{sex},#{birthday},#{credential},#{credential_numb},#{religion},#{position},#{social_status},#{tel},#{email},#{company},#{trade_type},#{staff_numb},#{profit},#{comp_address},#{assistant_name},#{assistant_position},#{assistant_tel},#{assistant_email},#{introducer_name},#{introducer_company},#{introducer_position},#{introducer_tel},#{guest},#{shareTopic},#{activities},#{message_from},#{is_active},#{creation_date},#{pass_time},#{member_code},#{introducer_email},#{client_ip},#{client_area},#{http_referer},#{recommend_user_name},#{recomm_uid})
  </insert>
</mapper>