.section-title {
	color: #d29956;
	font-size: 18px;
	padding-bottom: 10px;
	border-bottom: 1px solid #b7b7b7;
	margin-bottom: 15px;
}

#partner-container {
	margin-top: 20px;
}

#partner-container .inline-container {
	text-align: center;
}

#partner-container .inline-container a {
	width: 180px;
	height: 130px;
	margin: 0 15px;
}

#partner-container .inline-container a img {
	width: 100%;
	height: 100%;
}

#links-container {
	margin-top: 40px;
}

#links-container  .inline-container a {
	font-size: 16px;
	color: #666;
	margin-right: 25px;
	margin-bottom: 10px;
}

#links-container  .inline-container a:last-child {
	margin-right: 0;
}