/* begin search style */

#page-content-inner {
    background-color: #e9eaec;
}

.search-margin-bottom10 {
    margin-bottom: 10px;
}


.search-wrap {
    background: #e9eaec;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1170px;
    margin: 0 auto;
}

.search-wrap img {
    width: 100%;
    height: 100%;
}

/*start search-container-wrap part*/
.search-container-wrap {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.left-panel {
    width: 330px;
    height: 240px;
    position: relative;
    background-color: #fff;
}

.left-panel .column {
    width: 100px;
    height: 25px;
    color: #fff;
    background-color: #d29956;
    margin:20px 50px 20px 10px;
    text-align: center;
    line-height: 25px;
    float: left;
    border-radius: 3px;
    font-size: 13px;
    position: relative;
}

.column-count {
    position: absolute;
    right: -30px;
    color: #b7b7b7;
    font-weight: bold;
}

#column-zx {
    background-color: #2eb971;
}

.search-container-left {
    position: absolute;
}

.search-container-right {
    margin-left: 360px;
}

.search-container-right .search-title {
    height: 40px;
    background-color: #fff;
    font-style: 16px;
    line-height: 40px;
    position: relative;
    margin-bottom: 20px;
}

.search-field {
    padding-left:20px;
    color: #e71f19;
}

.search-sum {
    padding-right:20px;
    position: absolute;
    right: 0;
    top: 0;
}

.search-num {
    color: #e71f19;
}

.island-pro {
    width: 810px;
    height: 180px;
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
}

.pro-photo {
    width: 120px;
    height: 150px;
    background-color: #e35105;
    color: #fff;
    position: absolute;
    left: 65px;
    top: 10px;
}

.pro-photo img {
    width: 120px;
    height: 150px;
}


.island-member {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-left: 120px;
    margin-top: 10px;
}

#proName {
    color: #e35105;
}

.pro-data-wrap {
    padding: 20px 0;
    margin-left: 225px;
}

.pro-data {
    margin-right: 40px;
    font-size: 16px;
}

.search-article-list {
    margin:20px 0;
}

.search-add-more {
    width: 810px;
    height: 37px;
    font-size: 14px;
    line-height: 37px;
    background-color: #b5b5b5;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

em.keyword {
    color: #e71f19;
}
/* end search style */